.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.actions {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.form-dialog {
  padding: 10px;
}

.container {
  padding: 24px;
  max-height: 70vh;
  overflow-y: auto;
}

.component-container {
  margin-top: 50px;
  border: 1px solid #ccc;
  min-width: 400px
}

.spacer {
  flex: 1 1 auto;
}

