@use '@angular/material' as mat;

$my-primary: mat.define-palette(mat.$indigo-palette);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn
  )
));

@include mat.all-component-themes($my-theme);

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
  background: #f5f5f5;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f5f5f5;
}

.mat-dialog-container {
  padding: 24px !important;
}
